{% comment %} <!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href={% static 'style/bootstrap.min.css' %} />
        <link rel="stylesheet" type="text/css" href={% static 'style/bootstrap-icons.css' %} />
    </head>
    <body class="container-fluid m-0 p-0 text-bg-dark">

        {% block content %}
        {% endblock content %}

        <script type="text/javascript" src={% static 'js/bootstrap.bundle.min.js' %}></script>
    </body>
    <script>
        const form = document.getElementById('form');
    
        if (form != null){
            for(var child of form.children){
                if (child.nodeName == 'DIV'){
                    child.className += 'd-flex justify-content-start align-items-center mb-3';
                    console.log(child.children)
                    for(var input of child.children){
                        if (input.nodeName == 'LABEL'){
                            input.className += 'form-label w-25 fw-semibold'
                        } else if (input.nodeName == 'INPUT' || input.nodeName == 'TEXTAREA'){
                            if (input.type != "checkbox" && input.type != "radio"){
                                input.className += 'form-control w-75'
                            }
                            else{
                                input.className += 'form-check-input'
                            }
                        }
                    }
                } else if (child.nodeName == 'INPUT' && child.type == 'submit'){
                    child.className += 'btn btn-primary w-100';
                }
            }
        }
    </script>

</html> {% endcomment %}