{% extends 'base/task_list.html' %}

{% block content %}
<div class="container pt-4" style="min-height: 100vh;">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1 class="text-center">{{ header }}</h1>
        <div>
            {% if 'Edit' in header %}
            <a href={% url 'task-list-delete' object.id %} class="text-decoration-none btn btn-secondary btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    
    <form method="POST" class="p-5 rounded-2 shadow" id="form">
        {% csrf_token %}
        {{ form.as_div }}
        {% if 'Edit' in header %}
        <input type="submit" value="Edit" class="d-block w-50 m-auto mt-5 btn btn-primary btn-sm">
        {% else %}
            <input type="submit" value="Create" class="d-block w-50 m-auto mt-5 btn btn-primary btn-sm">
        {% endif %}
    </form>
</div>
{% endblock content %}